/**
 * Main stylesheet for webpage.
 * @author Alvin Lin (alvin.lin.dev@gmail.com)
 */

.alpha {
  font-size: 50px;
  margin-left: 10px;
}

.parallax-1 {
  height: 600px;
}

.parallax-2 {
  height: 800px;
}

.parallax {
  opacity: 0.6;
}

#me {
  margin: 185px auto;
}

#skills li {
  opacity: 0;
}
