/**
 * This stylesheet defines animations that are used in the webpage.
 * @author Alvin Lin (alvin.lin@stuypulse.com)
 */

@defaultDelayTime: 2500ms;
@defaultFadeInAnimationTime: 800ms;
@defaultSlideInAnimationTime: 500ms;

.fadeIn(@delayTime:@defaultDelayTime,
        @fadeInAnimationTime:@defaultFadeInAnimationTime) {
  opacity: 0;
  animation: fadeIn @fadeInAnimationTime linear forwards;
  animation-delay: @delayTime;
}

.slideInLeft(@delayTime:@defaultDelayTime,
             @slideInAnimationTime:@defaultSlideInAnimationTime) {
  transform: translateX(-1500px);
  animation: slideInLeft @slideInAnimationTime linear forwards;
  animation-delay: @delayTime;
}

.slideInRight(@delayTime:@defaultDelayTime,
              @slideInAnimationTime:@defaultSlideInAnimationTime) {
  transform: translateX(1500px);
  animation: slideInRight @slideInAnimationTime linear forwards;
  animation-delay: @delayTime;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-1000px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0px);
  }
}
