/**
 * Main stylesheet for webpage.
 * @author Alvin Lin (alvin.lin@stuypulse.com)
 */

@import 'animation.less';

@font-face {
  font-family: univox;
  src: url('../data/fonts/univox.ttf');
}

@font-face {
  font-family: neogrey;
  src: url('../data/fonts/neogrey.otf');
}

@webBlue: rgba(0, 228, 255, 0.4);
@webLightBlue: #448AFF;

html, body {
  width: 100%;
  min-width: 800px;
  height: 100%;
  min-height: 600px;
  margin: 0;
  border: 0;

  font-family: neogrey, sans-serif;
}

body {
  z-index: -2;

  background: #000000;
}

a {
  text-decoration: none;
  color: @webBlue;
  transition: all 200ms;

  &:hover {
    color: @webLightBlue;
  }

  &:visited {
  }
}

#cursor-canvas {
  z-index: -1;
}

.container {
  width: 100%;
  height: 100%;
}

.content {
  z-index: 1;
}

.header {
  width: 100%;
  overflow: hidden;
  display: table;

  .fadeIn;

  div {
    display: table-cell;
  }

  .header-dial {
    width: 140px;
    height: auto;

    img {
      width: 140px;
      height: auto;
    }
  }

  .header-links {
    padding: 40px;
    font-size: 25px;
  }

  .header-dial2 {
    width: 100px;

    img {
      height: auto;
      margin: 20px;
      .spin;
    }
  }
}

.title {
  #name {
    width: 1000px;
    margin: auto;
    color: @webBlue;
    font-family: univox;
    font-size: 50px;
  }
}
