// out: ../dist/minified.css, compress: true, strictMath: true, autoprefixer: true
/**
 * Main stylesheet for webpage.
 * @author Alvin Lin (alvin.lin.dev@gmail.com)
 */

// Dependencies
@import 'mixin.less';

// Custom fonts
@font-face {
  font-family: Neogrey;
  src: url('../assets/fonts/neogrey.otf');
}

@font-face {
  font-family: UbuntuMono;
  src: url('../bower/ubuntu-font/ubuntumono-b.ttf')
}

// Local color constants
@background: #300A24;
@green: #1EC503;
@red: #CC0219;
@lightGrey: #58564E;
@darkGrey: #403F3A;

// Style sets
html, body {
  width: 100%;
  min-width: 1080px;
  height: 100%;
  min-height: 760px;
  margin: 0;
  border: 0;

  font-family: Neogrey, sans-serif;
  background-color: black;
}

.container {
  position: relative;
  padding-top: 100px;

  #matrix {
    position: absolute;
    top: -100px;
    width: 100%;
    background-color: white;

    div {
      position: absolute;
      color: @green;
    }
  }
}

#sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  top: 0px;
  right: -251px;

  background: @background;
  border-left: 1px solid @darkGrey;

  .topbar {
    width: 100%;
    padding: 0;
    .gradient(@lightGrey, @darkGrey);

    img {
      margin: 4px 0px 0px 4px;
      opacity: 0.75;
      transition: all 200ms;

      &:hover {
        opacity: 1;
      }
    }
  }
}

#terminal {
  * {
    background-color: @background !important;
    font-family: UbuntuMono !important;
  }

  .red {
    color: @red;
  }

  .green {
    color: @green;
  }

  background-color: @background !important;
  margin: auto;
  border: 1px solid @darkGrey;
  border-radius: 8px;

  /**
   * The following styles override the colors set in jquery.terminal.css
   */
  .terminal .inverted, .cmd .inverted, .cmd .cursor.blink {
      background-color: #aaa;
      color: @background;
  }

  .cmd .cursor.blink {
      -webkit-animation: terminal-blink 1s infinite steps(1, start);
         -moz-animation: terminal-blink 1s infinite steps(1, start);
          -ms-animation: terminal-blink 1s infinite steps(1, start);
              animation: terminal-blink 1s infinite steps(1, start);
  }
}

@-webkit-keyframes terminal-blink {
  0%, 100% {
      background-color: @background;
      color: #aaa;
  }
  50% {
      background-color: #bbb;
      color: @background;
  }
}

@-ms-keyframes terminal-blink {
  0%, 100% {
      background-color: @background;
      color: #aaa;
  }
  50% {
      background-color: #bbb;
      color: @background;
  }
}

@-moz-keyframes terminal-blink {
  0%, 100% {
      background-color: @background;
      color: #aaa;
  }
  50% {
      background-color: #bbb;
      color: @background;
  }
}

@keyframes terminal-blink {
  0%, 100% {
      background-color: @background;
      color: #aaa;
  }
  50% {
      background-color: #bbb;
      color: @background;
  }
}
