// out: ../dist/minified.css, compress: true, strictMath: true, autoprefixer: true
/**
 * Main stylesheet for webpage.
 * @author Alvin Lin (alvin.lin.dev@gmail.com)
 */

// Dependencies
@import 'mixin.less';

// Custom fonts
@font-face {
  font-family: Neogrey;
  src: url('../assets/fonts/neogrey.otf');
}

@font-face {
  font-family: UbuntuMono;
  src: url('../bower/ubuntu-font/ubuntumono-b.ttf')
}

// Local color constants
@backgroundPurple: #300A24;
@backgroundBeige: #95724F;
@green: #1EC503;
@red: #CC0219;
@lightGrey: #58564E;
@darkGrey: #403F3A;

@borderRadius: 5px;

// Style sets
html, body {
  width: 100%;
  min-width: 1080px;
  height: 100%;
  min-height: 760px;
  margin: 0;
  border: 0;
  background-color: black;
  box-sizing: border-box;
}

*, * :before, * :after {
  box-sizing: inherit;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;

  .window {
    background-color: @backgroundPurple;
    border: 1px solid @lightGrey;

    .topbar {
      width: 100%;
      padding: 0;

      img {
        margin: 4px 0px 0px 4px;
        opacity: 0.75;
        transition: all 200ms;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  #matrix {
    position: fixed;
    top: -100px;
    width: 100%;
    background-color: white;
    font-family: Neogrey, UbuntuMono, monospace, sans-serif;

    div {
      position: absolute;
      color: @green;
    }
  }

  #navigation {
    position: fixed;
    width: 50px;
    height: 100%;
    top: 0;
    left: -50px;
    background-color: @backgroundBeige;
    border-right: 1px solid @lightGrey;

    .clickable {
      width: 40px;
      height: 40px;
      padding: 3px;
      margin: 10px auto;
      border-radius: @borderRadius;
      opacity: 0.9;

      box-shadow: inset 0 0 25px #ccc;
      transition: all 200ms;

      .shake-on-hover;

      &:hover {
        box-shadow: inset 0 0 25px #fff;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  #options {
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0px;
    right: -250px;

    background: @backgroundPurple;
    border-left: 1px solid @lightGrey;

    .topbar {
      width: 100%;
      padding: 0;
      background-color: @lightGrey;

      img {
        margin: 4px 0px 0px 4px;
        opacity: 0.75;
        transition: all 200ms;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .spacer {
    width: 100%;
    height: 100px;
    color: white;
    text-align: center;
  }

  #terminal {
    * {
      background-color: @backgroundPurple;
      font-family: UbuntuMono;
      font-size: 14px;
    }

    .red {
      color: @red;
    }

    .green {
      color: @green;
    }

    margin: 0 30%;
    background-color: @backgroundPurple;
    border: 1px solid @lightGrey;
    border-top: 20px solid @lightGrey;
    border-radius: @borderRadius;

    /**
     * The following styles override the colors set in jquery.terminal.css
     */
    .terminal .inverted, .cmd .inverted, .cmd .cursor.blink {
      background-color: #aaa;
      color: @backgroundPurple;
    }

    .cmd .cursor.blink {
      -webkit-animation: terminal-blink 1s infinite steps(1, start);
         -moz-animation: terminal-blink 1s infinite steps(1, start);
          -ms-animation: terminal-blink 1s infinite steps(1, start);
              animation: terminal-blink 1s infinite steps(1, start);
    }
  }

  #terminal2 {
    position: relative;
    width: 400px;
    height: 300px;
    margin: 20px 180px;
    padding: 10px;
    color: white;
    font-family: UbuntoMono, monospace, sans-serif;
    font-size: 14px;
    background-color: @backgroundPurple;
    border: 1px solid @darkGrey;
    border-top: 20px solid @darkGrey;
    border-radius: @borderRadius;
    overflow-y: hidden;

    .red {
      color: @red;
    }

    .green {
      color: @green;
    }
  }
}

@-webkit-keyframes terminal-blink {
  0%, 100% {
    background-color: @backgroundPurple;
    color: #aaa;
  }
  50% {
    background-color: #bbb;
    color: @backgroundPurple;
  }
}

@-ms-keyframes terminal-blink {
  0%, 100% {
    background-color: @backgroundPurple;
    color: #aaa;
  }
  50% {
    background-color: #bbb;
    color: @backgroundPurple;
  }
}

@-moz-keyframes terminal-blink {
  0%, 100% {
    background-color: @backgroundPurple;
    color: #aaa;
  }
  50% {
    background-color: #bbb;
    color: @backgroundPurple;
  }
}

@keyframes terminal-blink {
  0%, 100% {
      background-color: @backgroundPurple;
      color: #aaa;
  }
  50% {
      background-color: #bbb;
      color: @backgroundPurple;
  }
}
