/**
 * Author: Alvin Lin (alvin.lin@stuypulse.com)
 * Styling for the main page.
 */

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

#background {
  background: #ccc;
}

#content {
  position: absolute;
  width: auto;
  min-width: 800px;
  height: auto;
  min-height: 600px;
  top: 40%;
  right: 0;
  left: 0;
  vertical-align: center;
  text-align: center;
  font-size: 50px;
}

#media {
  margin: auto;
}

#media a {
  display: inline-block;
  width: auto;
  height: auto;
}

#media img {
  width: auto;
  height: 50px;
  opacity: 0.5;
  /* HACKY-ASS CRAP TO CENTER THE GITHUB LINK */
  margin-left: -20px;

  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

#media img:hover {
  opacity: 1;
}
