/**
 * Main stylesheet for webpage.
 * @author Alvin Lin (alvin.lin.dev@gmail.com)
 */

// Applied globally to fix the spacing between the footer and content
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  margin-top: 0px !important;
}

// Applied globally to style the alpha icon
.alpha {
  font-size: 50px;
  margin-left: 10px;
}

// Applied to the homepage
#skills li {
  opacity: 0;
}

.me {
  height: 350px;
  border-radius: 25px;
  margin: 120px auto;
}

.parallax {
  opacity: 0.6;
}

.parallax-1 {
  height: 600px;
}

.parallax-2 {
  height: 200px;
}

// Applied to the error page
.error {
  height: 800px;

  h1 span {
    margin: 40px;
  }

  h5 span {
    margin: 10px;
  }
}

// Applied to the notes page
.notes-container {
  min-height: 75vh;

  button {
    margin-right: 10px;
  }
}

.notes {
  .collapsible-body {
    padding: 0
  }
}
