{% extends 'layout.html' %}

{% block body %}
  <div class="col s12 four-oh-four">
    <div class="col s12 center-align">
      <h1>
        <i class="material-icons medium">error</i>
        404: Page not found!
        <i class="material-icons medium">error</i>
      </h1>
      <a class="waves-effect waves-light btn" href="/">
        <i class="material-icons right">home</i>
        Home
      </a>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      $('.parallax').parallax();
    });
  </script>
{% endblock %}
