extends layout.pug

block body
  div(class='container')
    h4(class='center-align') Analytics
    div(class='row center-align')
      div(class='col s6')
        h5 Site Traffic
        div(id='traffic' class='graph')
      div(class='col s6')
        h5 Response Time (milliseconds)
        div(id='response-time' class='graph')
    div(class='row center-align')
      div(class='col s12')
        h5 Frequencies
        div(id='frequencies' class='graph')
  
block scripts
  script(src='/node_modules/d3/build/d3.min.js')
  script(src='/node_modules/c3/c3.min.js')
  script(src='/node_modules/moment/min/moment.min.js')
  script(src='/client/js/analytics.js')
