{% extends 'layout.html' %}

{% block body %}
  <div class="parallax-container parallax-3">
    <div class="parallax">
      <img src="/public/img/parallax3.png" />
    </div>

    <div class="col s6 center-align">
      <h1>
        <i class="material-icons large">error</i>
        500: An error occurred! Fuck me! This has been logged, sorry for the
        inconvenience.
      </h1>
      <a class="waves-effect waves-light btn" href="/">
        <i class="material-icons right">home</i>
        Home
      </a>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function() {
      $('.parallax').parallax();
    });
  </script>
{% endblock %}
