{% extends 'layout.html' %}

{% block body %}

  <div class="navbar-fixed">
    <nav class="blue-grey darken-3">
      <div class="nav-wrapper">
        <a href="#" class="alpha">&alpha;</a>
      </div>
    </nav>
  </div>

  <div class="container">

    <!-- TITLE -->
    <div class="section">
      <h2 class="center-align">
        The 2016 Presidential Election
      </h2>
      <h6 class="red-text center-align">
        ALL DATA IS UP TO DATE AS OF MAY 22<sup>nd</sup>, 2016.
        THIS PROJECT WILL NOT BE MAINTAINED AFTERWARDS.
      </h6>
    </div>

    <!-- LEADING PRESIDENTIAL CANDIDATES -->
    <div class="section">
      <h4 class="center-align">
        Leading Presidential Candidates
      </h4>
      <ul class="collection">
        <li class="collection-item avatar">
          <img src="/public/gov/donald_trump.png" class="circle">
          <span class="title">
            Donald John Trump - Born June 14<sup>th</sup>, 1946 (age 69)
          </span>
          <br />
          <span>
            Politician, Businessman: Studied at the University of
            Pennsylvania
            <br />
            <span class="red-text">
              Republican
            </span>
          </span>
        </li>
        <li class="collection-item avatar">
          <img src="/public/gov/hillary_clinton.png" class="circle">
          <span class="title">
            Hillary Diane Rodham Clinton - Born October 26<sup<th</sup>, 1947
            (age 68)
          </span>
          <br />
          <span>
            Politician, Senator, First Lady: Studied at Wellesley College and
            Yale Law School
            <br />
            <span class="blue-text">
              Democratic
            </span>
          </span>
        </li>
        <li class="collection-item avatar">
          <img src="/public/gov/bernie_sanders.png" class="circle">
          <span class="title">
            Bernard Sanders - Born September 8<sup>th</sup>, 1941 (age 74)
          </span>
          <br />
          <span>
            Politician, Mayor, Representative: Studied at Brooklyn College and
            the University of Chicago
            <br />
            <span class="blue-text">
              Democratic
            </span>
          </span>
        </li>
      </ul>
    </div>

    <div class="divider"></div>

    <!-- 2016 PRESIDENTIAL PRIMARIES -->
    <div class="section center-align">
      <h4>
        2016 Presidential Primaries
      </h4>
      <h5 class="left-align">
        Donald Trump's presence in the 2016 presidential race presents us with
        a lot of interesting data. As of now, Trump is the leading Republican
        candidate and Clinton is the leading Democratic candidate.
      </h5>
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s4">
              <a href="#primaries">
                Primaries Finished
              </a>
            </li>
            <li class="tab col s4">
              <a href="#republican-primaries">
                Republican Primaries
              </a>
            </li>
            <li class="tab col s4">
              <a href="#democratic-primaries">
                Democratic Primaries
              </a>
            </li>
          </ul>
        </div>
        <div id="primaries" class="col s12">
          <img class="responsive-img materialboxed"
            src="/public/gov/primaries.png" />
          <br />
          <a href="http://www.politico.com/2016-election/results/map/president">
            Source
          </a>
        </div>
        <div id="democratic-primaries" class="col s12">
          <img class="responsive-img materialboxed"
            src="/public/gov/democratic_primaries.png" />
          <br />
          <a href="http://www.electionprojection.com/democratic-nomination/">
            Source
          </a>
        </div>
        <div id="republican-primaries" class="col s12">
          <img class="responsive-img materialboxed"
            src="/public/gov/republican_primaries.png" />
          <br />
          <a href="http://www.electionprojection.com/republican-nomination/">
            Source
          </a>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <!-- MEDIA COVERAGE OF THE CANDIDATES -->
    <div class="section center-align">
      <h4>
        Media Coverage of the Candidates
      </h4>
      <h5 class="left-align">
        Directly correlated with each candidate's success is the amount of
        media they have received. Correlation is not causation, and this data
        should be taken with a grain of salt. However, there are still
        interesting trends to be noted.
      </h5>
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s6">
              <a href="#democratic-candidate-mentions">
                Media Coverage of Democratic Candidates
              </a>
            </li>
            <li class="tab col s6">
              <a href="#republican-candidate-mentions">
                Media Coverage of Republican Candidates
              </a>
            </li>
          </ul>
        </div>
        <div id="democratic-candidate-mentions" class="col s12">
          <img class="responsive-img materialboxed"
            src="/public/gov/democratic_candidate_mentions.png" />
          <br />
          <a href="http://television.gdeltproject.org/cgi-bin/iatv_campaign2016/iatv_campaign2016">
            Source
          </a>
        </div>
        <div id="republican-candidate-mentions" class="col s12">
          <img class="responsive-img materialboxed"
            src="/public/gov/republican_candidate_mentions.png" />
          <br />
          <a href="http://television.gdeltproject.org/cgi-bin/iatv_campaign2016/iatv_campaign2016">
            Source
          </a>
        </div>
      </div>
    </div>

    <!-- TOTAL NEWS NETWORK COVERAGE -->
    <div class="section center-align">
      <h4>
        Total News Network Coverage
      </h4>
      <h5 class="left-align">
        The following graphs show the amount of media coverage given to each
        of the candidates. You can see that Donald Trump leads in media coverage
        by a wide margin.
      </h5>
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s6">
              <a href="#candidate-network-mentions">
                Candidate Mentions By News Network
              </a>
            </li>
            <li class="tab col s6">
              <a href="#candidate-television-mentions">
                Candidate Mentions On Television
              </a>
            </li>
          </ul>
        </div>
        <div id="candidate-network-mentions" class="col s12">
          <img class="responsive-img materialboxed"
            src="/public/gov/candidate_network_mentions.png" />
          <br />
          <a href="http://television.gdeltproject.org/cgi-bin/iatv_campaign2016/iatv_campaign2016">
            Source
          </a>
        </div>
        <div id="candidate-television-mentions" class="col s12">
          <img class="responsive-img materialboxed"
            src="/public/gov/candidate_television_mentions.png" />
          <br />
          <a href="http://television.gdeltproject.org/cgi-bin/iatv_campaign2016/iatv_campaign2016">
            Source
          </a>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <!-- CAMPAIGN FINANCING -->
    <div class="section center-align">
      <h4>
        Campaign Financing
      </h4>
      <h5 class="left-align">
        Let's take a look at the finances for the three major candidates.
        Clearly, Donald Trump should also top the charts if he's had this much
        coverage. The darker bar for each candidate represents outside money,
        while the lighter bar represents the money raised by each candidate's
        committee.
      </h5>
      <ul class="collection left-align">
        <li class="collection-item avatar">
          <img src="/public/gov/donald_trump.png" class="circle">
          <div class="valign-wrapper">
            <img class="valign"
              src="/public/gov/donald_trump_finances.png" />
          </div>
        </li>
        <li class="collection-item avatar">
          <img src="/public/gov/hillary_clinton.png" class="circle">
          <div class="valign-wrapper">
            <img class="valign"
              src="/public/gov/hillary_clinton_finances.png" />
          </div>
        </li>
        <li class="collection-item avatar">
          <img src="/public/gov/bernie_sanders.png" class="circle">
          <div class="valign-wrapper">
            <img class="valign"
              src="/public/gov/bernie_sanders_finances.png" />
          </div>
        </li>
      </ul>
      <a href="http://www.opensecrets.org/pres16/">
        Source
      </a>
    </div>

    <!-- FREE MEDIA COVERAGE -->
    <div class="section center-align">
      <h5 class="left-align">
        Surprisingly, Donald Trump actually has the LEAST of all the candidates
        in campaign finances. So how can he possibly be leading in media
        coverage if he can't afford air time?
      </h5>
      <img class="responsive-img materialboxed"
        src="/public/gov/presidential_ad_spending.png" />
      <br />
      <a href="http://www.nytimes.com/2016/03/16/upshot/measuring-donald-trumps-mammoth-advantage-in-free-media.html?_r=0">
        Source
      </a>
      <h5 class="left-align">
        As it turns out, Donald Trump hasn't even been spending on news network
        air time or advertisements for himself.
      </h5>
      <img class="responsive-img materialboxed center-align"
        src="/public/gov/bought_vs_free_media.png" />
      <br />
      <a href="http://www.nytimes.com/2016/03/16/upshot/measuring-donald-trumps-mammoth-advantage-in-free-media.html?_r=0">
        Source
      </a>
      <h5 class="left-align">
        News networks have been more than happy to cover Donald Trump due to
        the viewership that they get. In fact, Trump has received close to
        2 billion dollars ($2,000,000,000) in free news coverage because of
        this. His radical,
        outrageous, and inflammatory comments increase the viewership of any
        news network that covers him. Simply put, people want to see Donald
        Trump.
      </h5>
    </div>

    <div class="divider"></div>

    <!-- DONALD TRUMP AND FREE MEDIA -->
    <div class="section center-align">
      <h4>
        Donald Trump and Free Media
      </h4>
      <div class="row">
        <div class="col s8 offset-s2">
          <div class="video-container">
            <iframe src="https://www.youtube.com/embed/Wo3B4cS9yEk"
              frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <!-- CANDIDATE WORD FREQUENCY ANALYSIS -->
    <div class="section center-align">
      <h4>
        Presidential Candidate Word Frequency
      </h4>
      <h5 class="left-align">
        The following data has been scraped from 16 presidential debates. While
        it does not conclude anything, it represents the baseline speaking
        habits of the presidential candidates. The
        <a href="https://github.com/omgimanerd/softdev/blob/master/ubiquitous-fiesta/data/data.py">
          source code
        </a>
        I used to do the data scraping is publicly available on my GitHub.
      </h5>
      <div class="row">
        {% for candidate, words in data["wordFrequency"] %}
        <div class="col s4 center-align">
          <h5>
            {{ candidate }}
          </h5>
          <br />
          {% for element in words %}
            <div class="row">
              <div class="col s6">
                {{ element[0] }}
              </div>
              <div class="col s6">
                {{ element[1] }}
              </div>
            </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">
            Sources
          </div>
          <div class="collapsible-body">
            {% for link in data["transcriptLinks"] %}
              <a href="{{ link['link'] }}">
                {{ link['date'] }} - {{ link['party'] }}
              </a>
              <br />
            {% endfor %}
          </div>
        </li>
      </ul>
    </div>

    <div class="divider"></div>

    <!-- DONALD TRUMP MARKOV CHAIN -->
    <div class="section center-align">
      <h4>
        Donald Trump Markov Chain
      </h4>
      <h5 class="left-align">
        Markov Chains are powerful and simple state-space processes used
        in many algorithms, including compression,
        speech recognition, text autocomplete, etc. The concept of it is
        simple enough. Given enough data, the Markov chain algorithm
        builds a map of word sequences with the probability that one
        word leads to another word.
      </h5>
      <img class="responsive-img"
        src="/public/gov/trump_markov_map.png" />
      <h5 class="left-align">
        Below is a basic Markov Chain algorithm implemented with Donald
        Trump's tweets as the input data.
      </h5>
      <iframe width="400" height="600"
        src="https://filiph.github.io/markov/" frameborder="0"
        scrolling="no">
      </iframe>
    </div>
  </div>
{% endblock %}
