extends layout.pug
    
block body
  p.
    I'm a software developer from New York City with a permanent case of bed
    hair. I'm currently employed at Google, and I love tinkering and hacking
    in my free time.

  br
    
  // Uncomment when sexy
  //- h3 Mission
  //- p.
  //-   Solving scarcity, whether it be food, knowledge, or shampoo. Raising the
  //-   quality of human life and elevating the goal of mankind to
  //-   self-actualization and exploration of the unknown.
  
  
