<!--
Author: Alvin Lin (alvin.lin.dev@gmail.com)
-->

{% extends 'layout.html' %}

{% block navbar %}
  <!-- NAVBAR -->
  <ul class="right hide-on-med-and-down table-of-contents">
    <li>
      <a class="blue-text" href="#skills">Skills</a>
    </li>
    <li>
      <a class="blue-text" href="#work">My Work</a>
    </li>
  </ul>
{% endblock %}

{% block body %}
  <!-- PARALLAX -->
  <div class="parallax-container parallax-1">
    <div class="parallax">
      <img src="/public/img/parallax1.png" />
    </div>
    <div class="valign-wrapper">
      <img class="circle responsive-img z-depth-5 me"
          src="/public/img/me.png" />
    </div>
  </div>

  <!-- SKILLS -->
  <div class="section container center-align scrollspy" id="skills">
    <div class="row center-align">
      <h2>
        My name is Alvin Lin
      </h2>

      {{ macros.divider() }}

      <h4>
        I am a full-stack web developer in New York. I work with:
      </h4>
    </div>
    <ul class="row">
      <li class="row">
        {{ macros.skillsetImage("col s4 skillset", "/public/img/html.png") }}
        {{ macros.skillsetImage("col s4 skillset", "/public/img/css.png") }}
        {{ macros.skillsetImage("col s4 skillset", "/public/img/js.png") }}
      </li>
      <li class="row">
        {{ macros.skillsetImage("col s6 skillset",
                                "/public/img/nodejs.png") }}
        {{ macros.skillsetImage("col s6 skillset",
                                "/public/img/python.png") }}
      </li>
      <li class="row">
        {{ macros.skillsetImage("col s6 skillset",
                                "/public/img/sql.png") }}
        {{ macros.skillsetImage("col s6 skillset",
                                "/public/img/mongodb.png") }}
      </li>
      <li class="row">
        <h4>...using...</h4>
      </li>
      <li class="row valign-wrapper">
        {{ macros.skillsetImage("col s4 l2 skillset valign",
                                "/public/img/aws.png") }}
        {{ macros.skillsetImage("col s4 l2 skillset valign",
                                "/public/img/digitalocean.png") }}
        {{ macros.skillsetImage("col s4 l2 skillset valign",
                                "/public/img/heroku.png") }}
        {{ macros.skillsetImage("col s4 l2 skillset valign",
                                "/public/img/git.png") }}
        {{ macros.skillsetImage("col s4 l2 skillset valign",
                                "/public/img/ubuntu.png") }}
        {{ macros.skillsetImage("col s4 l2 skillset valign",
                                "/public/img/android.png") }}
      </li>
    </ul>

    {{ macros.divider() }}

    <div class="section center-align">
      <a class="btn-large waves-effect waves-light blue-grey darken-2"
        href="/public/resume.pdf" target="_blank">
        <i class="material-icons left">work</i>
        R&eacute;sum&eacute;
      </a>
    </div>
  </div>

  <!-- SECOND PARALLAX -->
  <div class="parallax-container parallax-2">
    <div class="parallax">
      <img src="/public/img/parallax2.png" />
    </div>
  </div>

  <!-- WORK -->
  <div class="container scrollspy" id="work">
    <div class="row">
      <h2 class="center-align">Highlighted Projects</h4>
    </div>
    <div class="row">
      {% for work in renderData.work %}
      <div class="col s12 m6 l3">
        <div class="card teal lighten-5 hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ work.image }}" />
          </div>
          <div class="card-content">
            <span class="card-title activator">
              {{ work.name }}
              <i class="material-icons right">expand_less</i>
            </span>
          </div>
          <div class="card-action truncate">
            <a href="{{ work.link }}">{{ work.linkText }}</a>
          </div>
          <div class="card-reveal teal lighten-5">
            <span class="card-title activator">
              {{ work.name }}
              <i class="material-icons right">close</i>
            </span>
            <p>
              {{ work.description }}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row center-align">
      <a class="btn-large waves-effect waves-light blue-grey darken-2"
        href="http://github.com/omgimanerd" target="_blank">
        <i class="fa fa-github left"></i>
        GitHub
      </a>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {% if dev_mode %}
    <script src="/public/js/index.js">
    </script>
  {% else %}
    <script src="/public/dist/index.min.js">
    </script>
  {% endif %}
{% endblock %}
