extends layout.pug
    
block body
  p.
    I'm a software developer from New York City with a permanent case of bed
    hair. I'm currently employed at Google, and I love tinkering and hacking
    in my free time.

  br
    
  // Uncomment when sexy
  //- h3 Mission
  //- p.
  //-   Solving scarcity, whether it be food, knowledge, or shampoo. Raising the
  //-   quality of human life and elevating the goal of mankind to
  //-   self-actualization and exploration of the unknown.
  
  h2 Interesting Links
  div.interesting
    p
      a.highlight(href='https://github.com/omgimanerd/doclt') doclt
      | &mdash; an aesthetically pleasing command line interface to&nbsp;
      a(href='https://digitalocean.com') Digital Ocean's
      | &nbsp;services.
    p
      a.highlight(href='https://getnews.tech') getnews.tech
      | &mdash; a command line interface to fetching international news from
      | the&nbsp;
      a(href='https://newsapi.org') News API.
    p
      a.highlight(href='https://tankanarchy.herokuapp.com') tankanarchy
      | &mdash; a multiplayer tank battle game written entirely in JavaScript.
      | See my&nbsp;
      a(href='https://github.com/omgimanerd/how-to-build-a-multiplayer-game')
        | blog series
      | &nbsp;on how to create multiplayer browser games from scratch.
    p
      a.highlight(href='https://play.google.com/store/apps/details?id=io.github.omgimanerd.bouncysquare') bouncy square
      | &mdash; an Android game combining the Stroop test with Doodle Jump.
    p
      a.highlight(href='https://github.com/omgimanerd/audio-spatializer')
        | audio spatializer
      | &mdash; a web app to intelligent apply sterescopic transform to music
      | to increase immersion and emphasize rhythm.
    p
      a.highlight(href='https://github.com/omgimanerd/gulp-pdflatex2')
        | gulp-pdflatex2
      | &mdash; a&nbsp;
      a(href='https://gulpjs.com') Gulp
      | &nbsp;plugin wrapper for the&nbsp;
      code pdflatex
      | &nbsp;command.
