<!--
Author: Alvin Lin (alvin.lin.dev@gmail.com)
-->

{% extends 'layout.html' %}

{% block body %}
  <!-- NAVBAR -->
  <div class="navbar-fixed">
    <nav class="blue-grey darken-3">
      <div class="nav-wrapper">
        <a href="#" class="alpha">&alpha;</a>
        <ul class="right hide-on-med-and-down table-of-contents">
          <li>
            <a class="blue-text" href="#skills">Skills</a>
          </li>
          <li>
            <a class="blue-text" href="#work">My Work</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- PARALLAX -->
  <div class="parallax-container parallax-1">
    <div class="parallax">
      <img src="/public/img/parallax1.png" />
    </div>
    <div class="valign-wrapper">
      <img class="circle responsive-img z-depth-5" id="me"
          src="/public/img/me.png" />
    </div>
  </div>

  <!-- SKILLS -->
  <div class="section container center-align scrollspy" id="skills">
    <div class="row center-align">
      <h2>
        My name is Alvin Lin
      </h2>
      <div class="divider"></div>
      <h4>
        I am a full-stack web developer in New York. I work with:
      </h4>
    </div>
    <ul class="row">
      <li class="row">
        {{ macros.skillsetImage("col s4 skillset", "/public/img/html.png") }}
        {{ macros.skillsetImage("col s4 skillset", "/public/img/css.png") }}
        {{ macros.skillsetImage("col s4 skillset", "/public/img/js.png") }}
      </li>
      <li class="row">
        {{ macros.skillsetImage("col s6 skillset",
                                "/public/img/nodejs.png") }}
        {{ macros.skillsetImage("col s6 skillset",
                                "/public/img/python.png") }}
      </li>
      <li class="row">
        {{ macros.skillsetImage("col s6 skillset",
                                "/public/img/sql.png") }}
        {{ macros.skillsetImage("col s6 skillset",
                                "/public/img/mongodb.png") }}
      </li>
      <li class="row">
        <h4>...using...</h4>
      </li>
      <li class="row valign-wrapper">
        {{ macros.skillsetImage("col s4 l2 skillset valign",
                                "/public/img/aws.png") }}
        {{ macros.skillsetImage("col s4 l2 skillset valign",
                                "/public/img/digitalocean.png") }}
        {{ macros.skillsetImage("col s4 l2 skillset valign",
                                "/public/img/heroku.png") }}
        {{ macros.skillsetImage("col s4 l2 skillset valign",
                                "/public/img/git.png") }}
        {{ macros.skillsetImage("col s4 l2 skillset valign",
                                "/public/img/ubuntu.png") }}
        {{ macros.skillsetImage("col s4 l2 skillset valign",
                                "/public/img/android.png") }}
      </li>
    </ul>
  </div>

  <!-- SECOND PARALLAX -->
  <div class="parallax-container parallax-2 scrollspy" id="work">
    <div class="parallax">
      <img src="/public/img/parallax2.png" />
    </div>

    <div class="container">
      <div class="row">
        <h2 class="center-align">Projects</h4>
      </div>
      <div class="row">
        {% for app in renderData.apps %}
        <div class="col s12 m12 l4">
          <div class="card teal lighten-5 hoverable">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{ app.image }}" />
            </div>
            <div class="card-content">
              <span class="card-title activator">
                {{ app.name }}
                <i class="material-icons right">expand_less</i>
              </span>
            </div>
            <div class="card-action">
              <a href="{{ app.link }}">Get It Here!</a>
            </div>
            <div class="card-reveal teal lighten-5">
              <span class="card-title activator">
                {{ app.name }}
                <i class="material-icons right">close</i>
              </span>
              <p>
                {{ app.description }}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {% if dev_mode %}
  <script src="/public/js/index.js">
  </script>
  {% else %}
  <script src="/public/dist/minified.js">
  </script>
  {% endif %}
{% endblock %}
