//
  Useful pug mixins
  Author: alvin.lin.dev@gmail.com (Alvin Lin)

mixin divider
  .container
    .divider

mixin skillsetImage(columnClass, imageSrc)
  div(class=columnClass)
    img(class='responsive-img', src=imageSrc)
