mixin divider
  div(class='container')
    div(class='divider')

mixin navElements
  li
    a(class='blue-text' href='/') Home
  li
    a(class='blue-text' href='https://github.com/omgimanerd'
      target='_blank') GitHub
  li
    a(class='blue-text' href='/client/resume.pdf'
      target='_blank') R&eacute;sum&eacute;
  li
    a(class='blue-text' href='https://medium.com/@omgimanerd'
      target='_blank') Blog
  li
    a(class='blue-text' href='/notes') Notes
