// Contact modal
div(id='contact-modal' class='modal')
  form(class='modal-content container')
    h4(class='center-align hide-on-small-only') Leave A Message
    h5(class='center-align hide-on-med-and-up') Leave A Message
    div(class='divider')
    div(class='row')
      div(class='input-field col s12')
        i(class='material-icons prefix') account_box
        input(id='contact-name' type='text' autocomplete='off' required)
        label(for='contact-name') Name
    div(class='row')
      div(class='input-field col s12')
        i(class='material-icons prefix') email
        input(id='contact-email' type='email' class='validate'
          autocomplete='off' required
        )
        label(for='contact-email' data-error='Invalid email!') Email
    div(class='row')
      div(class='input-field col s12')
        i(class='material-icons prefix') subject
        textarea(id='contact-message' class='materialize-textarea')
        label(for='contact-message') Message
    div(class='row center-align')
      button(type='submit' class='waves-effect waves-light btn center-align')
        | Send
        i(class='material-icons right') send

// Notes modal
div(id='notes-modal' class='modal')
  div(class='container')
    div(class='row section center-align')
      h4(class='col s12')
        | Notes
      h5(class='col s12 left-align')
        | This page contains links to notes taken from my classes
        | at Rochester Institute of Technology. It is designed for the deaf and
        | hard-of-hearing/NTID students who have requested me to take notes for
        | them. These notes are free for anyone to access however, and you may
        | use and distribute them as long as you credit me and link back here.
      div(class='col s12')
        input(type='checkbox' id='notes-agreement-checkbox' class='filled-in')
        button(class='btn waves-effect waves-light modal-close')
          | I Agree
