<!--
This file contains modals used in the site.
Author: alvin.lin.dev@gmail.com (Alvin Lin)
-->

<!-- ERROR MODAL -->
<div id="message-modal" class="modal">
  <div class="modal-content center-align">
    <h4 class="large">
      <i class="material-icons"></i>
      <span class="title"></span>
    </h4>
    <h6 class="medium text">
    </h6>
  </div>
</div>

<!-- CONTACT MODAL -->
<div id="contact-modal" class="modal">
  <form class="modal-content container">
    <h4 class="center-align">Leave A Message</h4>
    <div class="divider"></div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_box</i>
        <input id="contact-name" type="text" autocomplete="off" required/>
        <label for="contact-name">Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
        <input id="contact-email" type="email" class="validate"
          autocomplete="off" required />
        <label for="contact-email" data-error="Invalid email!">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">subject</i>
        <textarea id="contact-message" class="materialize-textarea">
        </textarea>
        <label for="contact-message">Message</label>
      </div>
    </div>
    <div class="row center-align">
      <button type="submit"
        class="waves-effect waves-light btn center-align">
        Send
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
