<!--
Author: Alvin Lin (alvin.lin.dev@gmail.com)
-->

{% extends 'layout.html' %}

{% block body %}
  <div class="row center-align">
    <h2>
      Notes:
    </h2>
    <div class="col s12">
      <ul class="collapsible" data-collapsible="expandable">
        {% for class in notes %}
        <li>
          <div class="collapsible-body">{{ class }}</div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {% if dev_mode %}
    <script src="/public/js/index.js">
    </script>
  {% else %}
    <script src="/public/dist/index.min.js">
    </script>
  {% endif %}
{% endblock %}
