extends layout.pug

block body
  each pdfs, section in notes
    div.notes-section
      h3.notes-header
        =section
      ol
        each pdf in pdfs
          li
            a(href=pdf.path target='_blank')
              =pdf.filename
