// Main stylesheet for site.

@import '../../node_modules/npm-font-open-sans/open-sans';
@FontPathOpenSans: '/node_modules/npm-font-open-sans/fonts';

@background: #283149;
@text: #DBEDF3;
@accentBlue: #457EAC;
@accentGreen: #82D4BB;

html {
  background-color: @background;
  color: @text;
  font-family: 'Open Sans', serif;
}

body {
  font-size: 1.1em;
  line-height: 1.8;
  opacity: 0;
  margin: 2em auto;
  max-width: 800px;
  text-align: justify;
  transition: all 500ms;

  &.loaded {
    opacity: 1;
  }
}

a {
  color: @accentBlue;

  &:hover {
    opacity: 0.5;
    transition: all 200ms;
  }
}

.navbar {
  a {
    margin: 0 2px;

    &:first-of-type {
      margin-left: 0px;
    }

    &:last-of-type {
      margin-right: 0px;
    }
  }
}

.interesting {
  margin-bottom: 100px;

  p {
    font-size: 0.9em;
  }

  a.highlight {
    color: @accentGreen;
    font-size: 1.5em;
    margin-right: 10px;

    &:hover {
      opacity: 0.6;
      transition: all 200ms;
    }
  }
}

.notes-section {
  h3 {
    margin: 5px 0;
    padding: 0;

    &:hover {
      cursor: pointer;
    }
  }

  ol {
    display: none;

    &.visible {
      display: block;
    }
  }
}

.footer {
  line-height: 0.8;

  div {
    display: inline-block;
    margin-right: 10px;
  }
}
